
body {
  font-family: Arial, sans-serif;
  margin: auto;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
	height: 100%;
	background-color: #e8e8e8;
 
}


.site {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* =Elements
---------------------------*/

	
h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid lightgray;
	padding-bottom: 30px;
	color:#4aaaa5;
	font-size: 30px;
	
	}
h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
	border-bottom: 2px solid lightgray;
	font-size: 22px;
	margin-left: 25px;
	margin-right: 25px;
	padding-bottom: 15px;

}
/* =Header
---------------------------*/
.site-header {
  padding: 0px 40px 0px 12%;
  text-align: left;
  border-bottom: 3px solid gray;
  background-color: white;

}
.site-title {
  margin: 0px;
  background-color: #4aaaa5;
  padding: 30px;
  color: white;
  width: 300px;
  align-content: left;
  font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:30px;
}

/* =Navigation
---------------------------*/
.site-navigation ul {
  list-style-type: none;
  margin: 0;
  padding-top: 30px;
  float: right;
  display: inline-block;
}
.site-navigation li {
  display: inline-block;
}
.site-navigation a {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: gray;
  padding: 0 10px;
}
.site-navigation a:hover {
  color: #4cacbe;
}
.site-navigation {
    float: right;
  }
.site-navigation a {
    padding: 0 0 0 20px;
  }


/* =Content
---------------------------*/
.content-wrapper {
  padding: 40px;
	border: 3px solid gray;
}


.about-me{
    float: left;
	margin-right: 20px;
}
 

.site-content {
	width: 650px;
    float: left;
    border: 1px lightgray solid;
	margin: 30px;
	padding-right: 30px;
	padding-left: 30px;
	margin-left: 30px;
	display-text: inline;
	background-color: white;
	height: 900px;
	
  }

.sideconent{
	width: 270px;
    padding-top: 0;
    text-align: center;
	border: 1px lightgray solid;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
	padding-bottom: 40px;
	background-color: white;
  }


.sidebar {
    width: 270px;
    padding-top: 60px;
    text-align: left;
	border: 1px lightgray solid;
  }
.center-content{
	background-color: #E8E8E8;
	padding-left: 10%;
	height: 100%;
}


/* =Footer
---------------------------*/
.footer {
   position: fixed;
   left: 0;
   bottom: -5px;
   width: 100%;
   background-color: #666666;
   color: white;
   text-align: center;
   border-top: 8px solid #4aaaa5;
	font-size: 13px;
	letter-spacing: .5px;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    float: left;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

input[type=submit]:hover {
    background-color: gray;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 500px;
    margin-top: 6px;
	margin-left: 30px;
}

.col-75 {
    float: left;
    width: 500px;
    margin-top: 6px;
	margin-left: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Photo Gallery */
div.gallery {
    margin: 15px;
    border: px solid #ccc;
    float: left;
    width: 250px;
	height: 200px;
}



div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    margin-top: -30px;
    text-align: center;
	background-color: #4aaaa5;
	width: 250px;
	height: 70px;
}


.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}